/* Контейнер федерального округа */
.district-content {
    display: inline-block;
    width: 200px;
    min-width: 200px;
    margin: 0;
    padding: 0;
    font-size: 11px;
}

/* Заголовок федерального округа */
.district-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin: 0;
    font-size: 11px;
}

/* Контейнер иконок */
.district-icons-container {
    display: flex;
    gap: 1px;
    align-items: center;
}

.district-icon {
    /*width: 20px;*/
    /*height: 20px;*/
    /*object-fit: contain;*/
}

.district-icon.visually-hidden {
    opacity: 0;
    width: 0;
    margin: 0;
}

/* Регион */
.district-region {
    padding: 2px;
}

.district-region:last-child {
    border-bottom: none;
}

.region-title {
    margin: 0;
    padding: 0;
    font-size: 11px;
}

/* Филиал (предприятие) */
.region-filial {
    margin-bottom: 2px;
}

.region-filial:last-child {
    margin-bottom: 0;
}

.region-filial p:first-child {
    font-size: 11px;
}

.region-filial p:last-child {
    font-size: 11px;
}

/* Цвета для значений */
.color-red {
    color: #dc3545 !important;
}

.color-green {
    color: #198754 !important;
}

.color-black {
    color: #212529 !important;
}

.color-grey {
    color: #6c757d !important;
}