.map-container {
    position: relative;
    width: 297mm;
    height: 210mm;
    margin: 0 auto;
    padding: 70px 5px 5px 5px;
}

.map-svg {
    display: block;
    width: 297mm;
    height: 210mm;
    margin: 0 auto;
    padding: 5px;
}

.map-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 297mm;
    height: 210mm;
    margin: 0;
    padding: 0;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

.map-header {
    width: 100%;
    /*min-width: 1200px;*/
    margin-bottom: 5px;
}

.map-logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: auto;
}

.map-title {
    margin: 0;
    padding: 0;
}

.map-title p, .map-title h1 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.map-title h1 {
    /*font-weight: bold;*/
    font-family: 'PFDinMedium', sans-serif;
    font-size: 16px;
}

.map-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-total {
    display: flex;
    flex-direction: column;
}

.map-total p {
    margin: 0;
    padding: 0;
    font-size: 11px;
}

.map-total-footnote-text {
    font-style: italic;
    color: #6c757d;
    font-size: 11px;
}

.summary-text {
    max-width: 860px;
}

.summary-footnote {
    margin: 0;
    padding: 0;
}

.summary-footnote small {
    display: block;
    margin: 0;
    padding: 0;
    font-style: italic;
    color: darkgray;
    font-size: 11px;
}

.map-storm-legend {
    width: 215px;
    margin: 0;
    font-size: 11px;
}

.map-storm-legend table td {
    margin: 0;
    padding: 0 5px;
}

.legend-icon {
    width: 12px;
    height: auto;
    display: block;
}

.legend-title {
    display: block;
}

.map-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 297mm;
    padding: 0;
}

.map-district-container {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    width: 297mm;
    height: 310px;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}

.district-column {
    width: 215px;
    margin: 0;
    padding: 0;
}

.district-column:nth-child(3),
.district-column:nth-child(4) {
    /*max-height: 215px;*/
    margin-top: 90px;
}

.district-column:nth-child(5) {
    /*max-height: 185px;*/
    margin-top: 120px;
}

.district-content {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.1;
}

.district-icons-container {
    display: flex;
}

.district-icon {
    width: 12px;
    height: auto;
    object-fit: contain;
}

.district-content p {
    margin: 0;
    padding: 0;
}

.district-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2px 0;
    padding: 2px 5px;
    font-size: 11px;
    /*font-weight: bold;*/
    font-family: 'PFDinMedium', sans-serif;
}

.region-title {
    margin: 2px 0;
    padding: 0;
    font-size: 10px;
    /*font-weight: bold;*/
    font-family: 'PFDinMedium', sans-serif;
}
