.map-container {
    position: relative;
    width: 297mm;
    height: 210mm;
    margin: 0 auto;
    padding: 70px 5px 5px 5px;
}

.map-svg {
    display: block;
    width: 297mm;
    height: 210mm;
    margin: 0 auto;
    padding: 5px;
}

.map-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 297mm;
    height: 210mm;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.map-header {
    width: 100%;
    min-width: 1200px;
    margin-bottom: 5px;
}

.map-logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: auto;
}

.map-title {
    margin: 0;
    padding: 0;
}

.map-title p, .map-title h1 {
    margin: 0;
    padding: 0;
}

.map-title h1 {
    font-weight: bold;
}

.map-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-total {
    display: flex;
    flex-direction: column;
}

.map-total p {
    margin: 0;
    padding: 0;
    font-size: 11px;
}

.map-total-footnote-text {
    font-style: italic;
    color: #6c757d;
    font-size: 11px;
}

.summary-text {
    max-width: 860px;
}

.summary-footnote {
    margin: 0;
    padding: 0;
}

.summary-footnote small {
    display: block;
    margin: 0;
    padding: 0;
    font-style: italic;
    color: darkgray;
    font-size: 0.75rem;
}

.map-storm-legend {
    width: 180px;
    margin: 0;
    font-size: 11px;
}

.map-storm-legend table td {
    margin: 0;
    padding: 0 5px;
}

.legend-icon {
    width: 12px;
    height: auto;
    display: block;
}

.legend-title {
    display: block;
}

.map-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 297mm;
    padding: 0;
}

.map-district-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    width: 297mm;
    height: 310px;
    margin: 0;
    padding: 5px;
}

.district-content {
    margin: 0;
    padding: 0;
    font-size: 11px;
}

.district-content:nth-child(3) {
    margin-top: 85px;
}

.district-content:nth-child(4) {
    margin-top: 95px;
}

.district-content:nth-child(5) {
    margin-top: 120px;
}

.district-icons-container {
    display: flex;
}

.district-icon {
    width: 12px;
    height: auto;
}

.district-content p {
    margin: 0;
    padding: 0;
}

.district-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2px 0;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: bold;
    /*background-color: #f0f0f0;*/
}

.region-title {
    margin: 2px 0;
    padding: 0;
    font-size: 11px;
    font-weight: bold;
}
